#container {
    width: 80%;
    margin: 50px auto;
    border: 1px solid black;
    text-align: center;
}
input {
    width: 90%;
    margin-bottom: 20px;
    margin-top: 20px;
    border: none;
    border-bottom: 1px solid red;
}
input:focus {
    outline: none;
}
button {
    display: block;
}
#imie-error {
    visibility: hidden;
}
#nazwisko-error {
    visibility: hidden;
}
#tel-error {
    visibility: hidden;
}
#email-error {
    visibility: hidden;
}
#text-error {
    visibility: hidden;
}